BetterVanilla.Ui/Schemas/bvui-xaml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:x="http://schemas.bettervanilla.ui/2025/xaml"
           targetNamespace="http://schemas.bettervanilla.ui/2025/xaml"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

  <!-- x:Name attribute -->
  <xs:attribute name="Name" type="xs:NCName">
    <xs:annotation>
      <xs:documentation>
        Nom unique de l'élément dans la vue.
        Génère une propriété accessible dans le code-behind.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- x:Class attribute -->
  <xs:attribute name="Class" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Nom complet de la classe (namespace.ClassName).
        Exemple: BetterVanilla.Ui.Views.MyView
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- x:Key attribute (for resources) -->
  <xs:attribute name="Key" type="xs:NCName">
    <xs:annotation>
      <xs:documentation>Clé unique pour les ressources</xs:documentation>
    </xs:annotation>
  </xs:attribute>

</xs:schema>
