BetterVanilla.Ui/Schemas/ui.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:x="http://schemas.bettervanilla.ui/2025/xaml"
           xmlns:ui="http://schemas.bettervanilla.ui/2025"
           targetNamespace="http://schemas.bettervanilla.ui/2025"
           elementFormDefault="qualified">

  <!-- Import x: namespace for x:Name, x:Class -->
  <xs:import namespace="http://schemas.bettervanilla.ui/2025/xaml" schemaLocation="ui-xaml.xsd"/>

  <!-- ============================================================ -->
  <!-- SIMPLE TYPES                                                 -->
  <!-- ============================================================ -->

  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Center"/>
      <xs:enumeration value="Right"/>
      <xs:enumeration value="Stretch"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VerticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Top"/>
      <xs:enumeration value="Center"/>
      <xs:enumeration value="Bottom"/>
      <xs:enumeration value="Stretch"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ThicknessValue">
    <xs:annotation>
      <xs:documentation>
        Thickness value for margin/padding.
        Formats: "10" (uniform), "10,5" (horizontal,vertical), "10,5,10,5" (left,top,right,bottom)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+(\.\d+)?(,\d+(\.\d+)?){0,3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DimensionValue">
    <xs:annotation>
      <xs:documentation>
        Dimension value supporting both fixed pixels and percentages.
        Formats: "100" (100 pixels), "50%" (50% of parent or screen)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="-?\d+(\.\d+)?%?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BindingExpression">
    <xs:annotation>
      <xs:documentation>
        Binding expression. Examples:
        - {Binding PropertyName}
        - {Binding PropertyName, Mode=TwoWay}
        - {Binding Path.To.Property, Mode=OneWay, Converter=MyConverter}
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="BindingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneWay"/>
      <xs:enumeration value="TwoWay"/>
      <xs:enumeration value="OneWayToSource"/>
      <xs:enumeration value="OneTime"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BooleanOrBinding">
    <xs:union memberTypes="xs:boolean ui:BindingExpression"/>
  </xs:simpleType>

  <xs:simpleType name="FloatOrBinding">
    <xs:union memberTypes="xs:float ui:BindingExpression"/>
  </xs:simpleType>

  <xs:simpleType name="IntOrBinding">
    <xs:union memberTypes="xs:int ui:BindingExpression"/>
  </xs:simpleType>

  <xs:simpleType name="StringOrBinding">
    <xs:union memberTypes="xs:string ui:BindingExpression"/>
  </xs:simpleType>

  <xs:simpleType name="ChildAlignment">
    <xs:annotation>
      <xs:documentation>Child alignment within a LayoutGroup container</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UpperLeft"/>
      <xs:enumeration value="UpperCenter"/>
      <xs:enumeration value="UpperRight"/>
      <xs:enumeration value="MiddleLeft"/>
      <xs:enumeration value="MiddleCenter"/>
      <xs:enumeration value="MiddleRight"/>
      <xs:enumeration value="LowerLeft"/>
      <xs:enumeration value="LowerCenter"/>
      <xs:enumeration value="LowerRight"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Orientation">
    <xs:annotation>
      <xs:documentation>Layout orientation for Panel containers</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Vertical"/>
      <xs:enumeration value="Horizontal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextAlignmentOptions">
    <xs:annotation>
      <xs:documentation>Text alignment options (maps to TMPro.TextAlignmentOptions)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Center"/>
      <xs:enumeration value="Right"/>
      <xs:enumeration value="Justified"/>
      <xs:enumeration value="TopLeft"/>
      <xs:enumeration value="Top"/>
      <xs:enumeration value="TopRight"/>
      <xs:enumeration value="MidlineLeft"/>
      <xs:enumeration value="Midline"/>
      <xs:enumeration value="MidlineRight"/>
      <xs:enumeration value="BottomLeft"/>
      <xs:enumeration value="Bottom"/>
      <xs:enumeration value="BottomRight"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InputFieldContentType">
    <xs:annotation>
      <xs:documentation>Input field content type for validation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard"/>
      <xs:enumeration value="Autocorrected"/>
      <xs:enumeration value="IntegerNumber"/>
      <xs:enumeration value="DecimalNumber"/>
      <xs:enumeration value="Alphanumeric"/>
      <xs:enumeration value="Name"/>
      <xs:enumeration value="EmailAddress"/>
      <xs:enumeration value="Password"/>
      <xs:enumeration value="Pin"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FontStyles">
    <xs:annotation>
      <xs:documentation>Font style flags (maps to TMPro.FontStyles). Can be combined with | in code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Bold"/>
      <xs:enumeration value="Italic"/>
      <xs:enumeration value="Underline"/>
      <xs:enumeration value="Strikethrough"/>
      <xs:enumeration value="LowerCase"/>
      <xs:enumeration value="UpperCase"/>
      <xs:enumeration value="SmallCaps"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextOverflowModes">
    <xs:annotation>
      <xs:documentation>Text overflow handling mode (maps to TMPro.TextOverflowModes)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Overflow"/>
      <xs:enumeration value="Ellipsis"/>
      <xs:enumeration value="Masking"/>
      <xs:enumeration value="Truncate"/>
      <xs:enumeration value="ScrollRect"/>
      <xs:enumeration value="Page"/>
      <xs:enumeration value="Linked"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- ATTRIBUTE GROUPS                                             -->
  <!-- ============================================================ -->

  <xs:attributeGroup name="LayoutAttributes">
    <xs:annotation>
      <xs:documentation>Common layout attributes for all controls</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Width" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Width in pixels (e.g., "100") or percentage of parent/screen (e.g., "50%")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Height in pixels (e.g., "100") or percentage of parent/screen (e.g., "50%")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels or percentage</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels or percentage</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MaxWidth" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Maximum width in pixels or percentage</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MaxHeight" type="ui:DimensionValue" use="optional">
      <xs:annotation>
        <xs:documentation>Maximum height in pixels or percentage</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FlexibleWidth" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Flexible width for LayoutGroup expansion (0 = no expansion, higher = more expansion)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FlexibleHeight" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Flexible height for LayoutGroup expansion (0 = no expansion, higher = more expansion)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Margin" type="ui:ThicknessValue" use="optional">
      <xs:annotation>
        <xs:documentation>Outer margin (left,top,right,bottom or uniform)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalAlignment" type="ui:HorizontalAlignment" use="optional">
      <xs:annotation>
        <xs:documentation>Horizontal alignment within parent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalAlignment" type="ui:VerticalAlignment" use="optional">
      <xs:annotation>
        <xs:documentation>Vertical alignment within parent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="BaseControlAttributes">
    <xs:annotation>
      <xs:documentation>Base attributes for all controls</xs:documentation>
    </xs:annotation>
    <xs:attribute ref="x:Name" use="optional"/>
    <xs:attribute name="Alias" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Reference to a prefab defined in ui-aliases.json</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsEnabled" type="ui:BooleanOrBinding" use="optional">
      <xs:annotation>
        <xs:documentation>Whether the control is enabled</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsVisible" type="ui:BooleanOrBinding" use="optional">
      <xs:annotation>
        <xs:documentation>Whether the control is visible</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="ui:LayoutAttributes"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="TextControlAttributes">
    <xs:annotation>
      <xs:documentation>Text-related attributes for controls that display text</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Text" type="ui:StringOrBinding" use="optional">
      <xs:annotation>
        <xs:documentation>Text displayed by the control</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="TextStyleAttributes">
    <xs:annotation>
      <xs:documentation>Text styling attributes (TMP properties)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="FontSize" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Font size in points</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TextColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Text color (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TextAlignment" type="ui:TextAlignmentOptions" use="optional">
      <xs:annotation>
        <xs:documentation>Text alignment within the control</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FontStyle" type="ui:FontStyles" use="optional">
      <xs:annotation>
        <xs:documentation>Font style (Bold, Italic, Underline, etc.)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CharacterSpacing" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Character spacing in EM units</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LineSpacing" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Line spacing adjustment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="WordSpacing" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Word spacing adjustment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="WordWrapping" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Enable automatic word wrapping</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TextOverflow" type="ui:TextOverflowModes" use="optional">
      <xs:annotation>
        <xs:documentation>Text overflow handling mode</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RichText" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Enable rich text tag parsing</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AutoSize" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Enable automatic font size adjustment</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinFontSize" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Minimum font size for auto-sizing</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MaxFontSize" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Maximum font size for auto-sizing</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TextMargin" type="ui:ThicknessValue" use="optional">
      <xs:annotation>
        <xs:documentation>Text margins (left,top,right,bottom or uniform)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="ButtonColorsAttributes">
    <xs:annotation>
      <xs:documentation>Color transition attributes for buttons (Unity ColorBlock)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="NormalColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Color when the button is in its normal state (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HighlightedColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Color when the button is highlighted/hovered (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PressedColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Color when the button is pressed (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SelectedColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Color when the button is selected (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DisabledColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Color when the button is disabled (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ColorMultiplier" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Multiplier applied to the colors (default: 1)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FadeDuration" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Duration of the color transition in seconds (default: 0.1)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="ShadowAttributes">
    <xs:annotation>
      <xs:documentation>Shadow effect attributes for controls with Unity Shadow component</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ShadowEnabled" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether the shadow effect is enabled (default: false)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ShadowColor" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Shadow color (format: #RGB, #RRGGBB, or #RRGGBBAA. Default: #00000080)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ShadowDistance" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Shadow offset (format: "5" for uniform or "5,-5" for x,y. Default: "1,-1")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ShadowUseGraphicAlpha" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether to use the graphic's alpha for the shadow (default: true)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="LayoutGroupAttributes">
    <xs:annotation>
      <xs:documentation>LayoutGroup attributes for Panel.LayoutGroup and ScrollView.LayoutGroup elements</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Orientation" type="ui:Orientation" use="optional">
      <xs:annotation>
        <xs:documentation>LayoutGroup orientation (Vertical, Horizontal, or None)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Spacing" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Spacing between child elements</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Padding" type="ui:ThicknessValue" use="optional">
      <xs:annotation>
        <xs:documentation>Inner padding of the container</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ChildAlignment" type="ui:ChildAlignment" use="optional">
      <xs:annotation>
        <xs:documentation>Alignment of child elements within the container</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ChildControlWidth" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether the LayoutGroup controls children's width</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ChildControlHeight" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether the LayoutGroup controls children's height</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ChildForceExpandWidth" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Force children to expand to fill available width</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ChildForceExpandHeight" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Force children to expand to fill available height</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ReverseArrangement" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Reverse the order of child elements</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="LayoutGroupType">
    <xs:annotation>
      <xs:documentation>LayoutGroup configuration for Panel and ScrollView containers</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="ui:LayoutGroupAttributes"/>
  </xs:complexType>

  <xs:attributeGroup name="ImageDisplayAttributes">
    <xs:annotation>
      <xs:documentation>Image display attributes for .Image child elements (Color, PreserveAspect, ImageType)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Color" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Tint color (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PreserveAspect" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether to preserve the aspect ratio of the image</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ImageType" type="ui:ImageType" use="optional">
      <xs:annotation>
        <xs:documentation>Image display type (Simple, Sliced, Tiled, Filled)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="SourceType">
    <xs:annotation>
      <xs:documentation>Image source loading configuration. Use exactly one of: EmbeddedResource, Url, or FilePath.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EmbeddedResource" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Embedded resource name or path (e.g., "MyNamespace.Images.logo.png" or "logo.png")</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Url" type="xs:anyURI" use="optional">
      <xs:annotation>
        <xs:documentation>URL to load the image from (http/https)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FilePath" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Local file path to load the image from</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PixelsPerUnit" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>Pixels per unit for sprite creation (default: 100)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Pivot" type="ui:PivotValue" use="optional">
      <xs:annotation>
        <xs:documentation>Pivot point as normalized coordinates "x,y" (default: "0.5,0.5" = center)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="WrapMode" type="ui:TextureWrapMode" use="optional">
      <xs:annotation>
        <xs:documentation>Texture wrap mode: Repeat, Clamp, Mirror, MirrorOnce</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FilterMode" type="ui:TextureFilterMode" use="optional">
      <xs:annotation>
        <xs:documentation>Texture filter mode: Point, Bilinear, Trilinear</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GenerateMipmaps" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Whether to generate mipmaps for better quality at different scales (default: true)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ImageInfoType">
    <xs:annotation>
      <xs:documentation>Image configuration for IconButton.Image, Panel.Image, ScrollView.Image</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Image.Source" type="ui:SourceType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Image source loading configuration</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="ui:ImageDisplayAttributes"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- VIEW ELEMENT                                                 -->
  <!-- ============================================================ -->

  <xs:element name="View">
    <xs:annotation>
      <xs:documentation>Root element of a UI view</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="x:Class" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="ControlElements">
    <xs:annotation>
      <xs:documentation>Group of all available control elements</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="ui:Panel"/>
      <xs:element ref="ui:ScrollView"/>
      <xs:element ref="ui:Button"/>
      <xs:element ref="ui:Toggle"/>
      <xs:element ref="ui:Slider"/>
      <xs:element ref="ui:TextBlock"/>
      <xs:element ref="ui:InputField"/>
      <xs:element ref="ui:Dropdown"/>
      <xs:element ref="ui:Image"/>
      <xs:element ref="ui:IconButton"/>
    </xs:choice>
  </xs:group>

  <!-- ============================================================ -->
  <!-- PANEL CONTROL                                                -->
  <!-- ============================================================ -->

  <xs:element name="Panel">
    <xs:annotation>
      <xs:documentation>Container control with optional LayoutGroup for child arrangement</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Panel.LayoutGroup" type="ui:LayoutGroupType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>LayoutGroup configuration for arranging child elements</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Panel.Image" type="ui:ImageInfoType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Background image configuration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:ShadowAttributes"/>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- SCROLLVIEW CONTROL                                           -->
  <!-- ============================================================ -->

  <xs:element name="ScrollView">
    <xs:annotation>
      <xs:documentation>Scrollable container control with optional LayoutGroup for child arrangement</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ScrollView.LayoutGroup" type="ui:LayoutGroupType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>LayoutGroup configuration for arranging child elements in the content area</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ScrollView.Image" type="ui:ImageInfoType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Background image configuration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attribute name="Horizontal" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Whether horizontal scrolling is enabled (default: false)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Vertical" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Whether vertical scrolling is enabled (default: true)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Inertia" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Whether inertia is enabled (content continues to move after drag)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DecelerationRate" type="xs:float" use="optional">
        <xs:annotation>
          <xs:documentation>The scroll deceleration rate (0 = instant stop, 1 = never stops)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Elasticity" type="xs:float" use="optional">
        <xs:annotation>
          <xs:documentation>The elasticity when scrolling past bounds</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ScrollSensitivity" type="xs:float" use="optional">
        <xs:annotation>
          <xs:documentation>The scroll sensitivity for scroll wheel input</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- TEXT STYLE TYPE (for nested text styling)                    -->
  <!-- ============================================================ -->

  <xs:complexType name="TextStyleType">
    <xs:annotation>
      <xs:documentation>Text style properties for control text and labels</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="ui:TextStyleAttributes"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- BUTTON CONTROL                                               -->
  <!-- ============================================================ -->

  <xs:element name="Button">
    <xs:annotation>
      <xs:documentation>Clickable button control. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Button.TextStyle" type="ui:TextStyleType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Style properties for the button's text label</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:TextControlAttributes"/>
      <xs:attributeGroup ref="ui:ButtonColorsAttributes"/>
      <xs:attributeGroup ref="ui:ShadowAttributes"/>
      <xs:attribute name="Background" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Background color (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Click" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on click</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- TOGGLE CONTROL                                               -->
  <!-- ============================================================ -->

  <xs:element name="Toggle">
    <xs:annotation>
      <xs:documentation>Checkbox / Toggle control. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Toggle.TextStyle" type="ui:TextStyleType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Style properties for the toggle's text label</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:TextControlAttributes"/>
      <xs:attribute name="IsOn" type="ui:BooleanOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Whether the toggle is checked</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Value" type="ui:BooleanOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Alias for IsOn</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ValueChanged" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on value change (receives bool)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- SLIDER CONTROL                                               -->
  <!-- ============================================================ -->

  <xs:element name="Slider">
    <xs:annotation>
      <xs:documentation>Slider control for numeric values. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attribute name="Value" type="ui:FloatOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Current slider value</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MinValue" type="xs:float" use="optional">
        <xs:annotation>
          <xs:documentation>Minimum value</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaxValue" type="xs:float" use="optional">
        <xs:annotation>
          <xs:documentation>Maximum value</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="WholeNumbers" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Restrict to whole numbers only</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ValueChanged" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on value change (receives float)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- TEXTBLOCK CONTROL                                            -->
  <!-- ============================================================ -->

  <xs:element name="TextBlock">
    <xs:annotation>
      <xs:documentation>Static or bound text display with full TMP styling support. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:TextControlAttributes"/>
      <xs:attributeGroup ref="ui:TextStyleAttributes"/>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- INPUTFIELD CONTROL                                           -->
  <!-- ============================================================ -->

  <xs:element name="InputField">
    <xs:annotation>
      <xs:documentation>Text input field control. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InputField.TextStyle" type="ui:TextStyleType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Style properties for the input text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="InputField.PlaceholderStyle" type="ui:TextStyleType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Style properties for the placeholder text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:ShadowAttributes"/>
      <xs:attribute name="Text" type="ui:StringOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Input text value</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Value" type="ui:StringOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Alias for Text</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Placeholder" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Placeholder text shown when empty</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CharacterLimit" type="xs:int" use="optional">
        <xs:annotation>
          <xs:documentation>Character limit (0 = unlimited)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ContentType" type="ui:InputFieldContentType" use="optional">
        <xs:annotation>
          <xs:documentation>Expected content type for validation</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ValueChanged" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on value change (receives string)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- DROPDOWN CONTROL                                             -->
  <!-- ============================================================ -->

  <xs:element name="Dropdown">
    <xs:annotation>
      <xs:documentation>Dropdown/combobox control for selecting from a list of options. Can contain child elements for overlay.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dropdown.TextStyle" type="ui:TextStyleType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Style properties for the dropdown's text label</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:TextControlAttributes"/>
      <xs:attribute name="Options" type="ui:BindingExpression" use="optional">
        <xs:annotation>
          <xs:documentation>Binding to IEnumerable&lt;string&gt; for dropdown options</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SelectedIndex" type="ui:IntOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>The selected option index (0-based)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Value" type="ui:IntOrBinding" use="optional">
        <xs:annotation>
          <xs:documentation>Alias for SelectedIndex</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ValueChanged" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on selection change (receives int)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SelectedIndexChanged" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Alias for ValueChanged</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- IMAGE CONTROL                                                -->
  <!-- ============================================================ -->

  <xs:simpleType name="ImageType">
    <xs:annotation>
      <xs:documentation>Image display type (maps to UnityEngine.UI.Image.Type)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simple"/>
      <xs:enumeration value="Sliced"/>
      <xs:enumeration value="Tiled"/>
      <xs:enumeration value="Filled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextureWrapMode">
    <xs:annotation>
      <xs:documentation>Texture wrap mode (maps to UnityEngine.TextureWrapMode)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Repeat"/>
      <xs:enumeration value="Clamp"/>
      <xs:enumeration value="Mirror"/>
      <xs:enumeration value="MirrorOnce"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextureFilterMode">
    <xs:annotation>
      <xs:documentation>Texture filter mode (maps to UnityEngine.FilterMode)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Point"/>
      <xs:enumeration value="Bilinear"/>
      <xs:enumeration value="Trilinear"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PivotValue">
    <xs:annotation>
      <xs:documentation>
        Pivot point as normalized coordinates.
        Format: "x,y" where x and y are between 0 and 1.
        Examples: "0.5,0.5" (center), "0,0" (bottom-left), "1,1" (top-right)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+(\.\d+)?,\d+(\.\d+)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Image">
    <xs:annotation>
      <xs:documentation>Image control that can display images from embedded resources or sprites.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Image.Source" type="ui:SourceType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Image source loading configuration with advanced options</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:ShadowAttributes"/>
      <xs:attribute name="Source" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Simple source path. For advanced options, use Image.Source child element instead.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Color" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Tint color (format: #RGB, #RRGGBB, or #RRGGBBAA)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PreserveAspect" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Whether to preserve the aspect ratio of the image</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ImageType" type="ui:ImageType" use="optional">
        <xs:annotation>
          <xs:documentation>Image display type (Simple, Sliced, Tiled, Filled)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="RaycastTarget" type="xs:boolean" use="optional">
        <xs:annotation>
          <xs:documentation>Whether the image should receive raycasts for UI interaction</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- ICONBUTTON CONTROL                                           -->
  <!-- ============================================================ -->

  <xs:element name="IconButton">
    <xs:annotation>
      <xs:documentation>A button that displays an icon instead of text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IconButton.Image" type="ui:ImageInfoType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Icon image configuration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:group ref="ui:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ui:BaseControlAttributes"/>
      <xs:attributeGroup ref="ui:ButtonColorsAttributes"/>
      <xs:attributeGroup ref="ui:ShadowAttributes"/>
      <xs:attribute name="Click" type="xs:NCName" use="optional">
        <xs:annotation>
          <xs:documentation>Name of the method called on click</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
